*{
    font-family: 'Comfortaa', cursive;
    width: auto;
}
header{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.164);
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    
    }
body{
    background-color: #F0F8FF;
}
#mapid {
    height: 670px;
}
footer {
    display: flex;
    position: static;
    bottom: 0px;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid blue;
}
footer div {
    width: 33%;
    height: 20px;
}
main .huisjes{
    display: inline-grid;
    grid-template-columns: auto auto;
}
.huisje{
    padding: 10px;
    margin: auto;
}
img{
    height: 250px;
    width: 250px;
    align-items: center;

}

.huisje{
    display: inline-grid;
    grid-template-columns: auto auto;
}

.info{
    padding: 10px;
}
