*{
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
header{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.164);
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    
    }
body{
    background-color: #F0F8FF;
}
footer {
    display: flex;
    position: static;
    bottom: 0px;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid blue;
}
footer div {
    width: 33%;
    height: 20px;
}
.huisjes{
    display: inline-grid;
    grid-template-columns: auto auto;
}
.huis{
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
img{
    height: 90%;
    width: 90%;

}
p{
    max-width: 300px;
}
#mapid {
    height: 300px;
}
