*{
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
header{
    text-align: center;
    background-color: #e9c56a63;
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    
    }
    h1{
        color: #E76F51;
    }
    header :hover{
        color: #F4A261;
        animation:none;

    }
body{
    background-color:#2A9D8F;
}
footer {
    display: flex;
    position: static;
    bottom: 0px;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px #264653;
}
footer div {
    width: 33%;
    height: 20px;
}
.huisjes{
    display: inline-grid;
    grid-template-columns: auto auto;
}
.huis{
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

img{
    height: 90%;
    width: 90%;

}
p{
    max-width: 300px;
    text-shadow: 0.5px 0.5px #264653;
}
h4{
    color: #264653;
}
#mapid {
    height: 300px;
}
